details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20em;
  padding: 2px;
}

details[open] {
  border: 2px dashed #333;
  margin-bottom: 0.5rem;
  padding: 0;
}

details[open] summary {
  background-color: #111;
}

details summary {
  position: sticky;
  padding: 1rem;
  grid-column: 1/-1;
}

details > .details_wrapper > * {
  display: block;
  padding: 0.5rem 1rem;
}

details > .details_wrapper > *:nth-child(4n+3), details > .details_wrapper > *:nth-child(4n+4) {
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.7);
}

details .detail_label {
  padding-bottom: 0;
}

details .detail_label::after {
  display: inline;
  content: ": ";
}

details .detail_label::first-letter {
  text-transform: uppercase;
}

details .detail_value {
  padding-top: 0.3rem;
}

details p {
  margin: 0;
}

@media only screen and (min-width: 660px) {
  details[open] > div {
    display: grid;
    grid-template-columns: max-content auto;
  }
  details[open] > div .detail_label, details[open] > div .detail_value {
    padding: 0.5rem;
  }
}
